/*Lime Green, Grey, Black, and White are the main colors for the future Fiji logo*/

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Font family from google fonts for professionalism*/
  background-color: #2e2e2e;
  color: #ffffff; /*White text color to complement dark background colors*/
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px; /*Padding to help content not look squeezed by webpage borders*/
}

h1 {
  color: #32cd32; /*Lime Green color*/
  text-align: center;
}

.about {
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
}

p {
  margin: 10px;
}

#beta-signup-form {
  background-color: #ffffff; /*Made background of form white so it is distinct*/
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstname-group,
.lastname-group,
.platform-group,
.content-group,
.email-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-weight: bold; /*Bolding for emphasis when user is looking at form*/
  color: #222222; /*Made label text a soft black so it is readable*/
  font-size: 1rem;
  margin-bottom: 5px;
}

input,
select {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px; /*Helping space out elements*/
  background-color: #f0f0f0;
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Redefining font family for redundancy purposes*/
  font-size: 1rem;
}

.signup-button {
  background-color: #32cd32; /*Lime Green for brand*/
  padding: 5px 10px;
  font-size: 1.25rem;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Font family redefined for redundancy*/
  margin-top: 17px; /*Top-margin to space button out so it is more intruiging to user*/
}

.signup-button:hover { /*Did additional research on hovering techniques for a more professional look*/
  background-color: #228b22; /*Dark Lime green when hovering over the sign up button*/
}

/*Responsiveness Media Queries*/

/*Media Query for screens that have a minimum width of 768px such as tablets in portrait mode*/
@media screen and (min-width: 768px) {
  .signup-section,
  .about {
    width: 50%;
	margin: auto;
  }
  
  input,
  select {
    width: 70%;
  }

  .signup-button {
    font-size:1.5rem;
    padding: 10px 20px;
  }
}

/*Media Query for screens with a minimum width of 992px such as tablets in landscape mode and small laptops*/
@media screen and (min-width: 992px) {
  .signup-section,
  .about {
    width: 45%;
  }
  
  h1 {
    font-size: 2.25rem;
  }

  input,
  select {
    width: 60%;
  }
  
  #beta-signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .firstname-group,
  .lastname-group,
  .platform-group,
  .content-group,
  .email-group {
    width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
}

/*Media Query for screens with a minimum width of 1200px such as larger desktops and wide screens*/
@media screen and (min-width: 1200px) {
  .signup-section,
  .about {
    width: 40%;
  }

  h1 {
    font-size: 2.5rem;
  }

  input,
  select {
    width: 50%;
  }

  .signup-button {
    font-size: 1.75rem;
    padding: 12px 24px;
  }
  
  #beta-signup-form {
    display: flex;
	flex-direction: center;
	align-items: center;
  }
}

/*Media Query for screens with a max width of 480px like much smaller screens*/
@media screen and (max-width: 480px) {
  .signup-section,
  .about {
    width: 90%;
  }

  input,
  select {
    width: 90%;
  }
}