/*Lime Green, Grey, Black, and White are the main colors for the future Fiji logo*/

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Font family from google fonts for professionalism*/
  background-color: #121212;
  color: #ffffff; /*White text color to complement dark background colors*/
  margin: 0;
  padding: 0;
  text-align: center; /*General webpage text alignment will be centered unless otherwise noted with a more specific text alignment designation*/
}

.header {
  background-color: #1e1e1e; /*Grey background color*/
  padding: 20px; /*Padding to help content not look squeezed by webpage borders*/
}

h1 {
  color: #32cd32; /*Lime Green color*/
}

.about {
  background-color: #2e2e2e; /*Light grey background color*/
  padding: 20px;
  margin: 20px; /*Margins to help about section be more seperated from other div tags*/
  border-radius: 10px; /*Modern look*/
}

#beta-signup-form {
  background-color: #ffffff; /*Made background of form white so it is distinct*/
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px; /*Modern look*/
  width: 90%;
  max-width: 500px;
}

.firstname-group,
.lastname-group,
.platform-group,
.content-group,
.email-group {
  display: flex;
  flex-direction: column; /*Did online research on a CSS property that is professionally used*/
  align-items: center; /*Did online research on a CSS property that is professionally used*/
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold; /*Bolding for emphasis when user is looking at form*/
  color: #000000; /*Made label text black so it is readable*/
}

input,
select {
  width: 80%;
  padding: 10px; /*Helping space out elements*/
  border-radius: 4px; /*Modern look*/
  background-color: #f0f0f0;
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Redefining font family for redundancy purposes*/
}

.signup-button {
  background-color: #32cd32; /*Lime Green for brand*/
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif; /*Font family redefined for redundancy*/
  margin-top: 17px; /*Top-margin to space button out so it is more intruiging to user*/
}

.signup-button:hover { /*Did additional research on hovering techniques for a more professional look*/
  background-color: #228b22; /*Dark Lime green when hovering over the sign up button*/
}

/*Responsiveness Media Queries*/

/*Media Query for screens that have a minimum width of 768px such as tablets in portrait mode*/
@media screen and (min-width: 768px) {
  .signup,
  .about {
    width: 50%;
	margin: auto;
  }
}

/*Media Query for screens with a minimum width of 992px such as tablets in landscape mode and small laptops*/
@media screen and (min-width: 992px) {
  .signup,
  .about {
    width: 45%;
  }
}

/*Media Query for screens with a minimum width of 1200px such as larger desktops and wide screens*/
@media screen and (min-width: 1200px) {
  .signup,
  .about {
    width: 40%;
  }
}